body {
    font-family: "Crimson", serif;
    max-width: 650px;
    margin: 50px auto 80px auto;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}


::-moz-selection {
    background: #a5d6e0;
}
::selection {
    background: #a5d6e0;
}


h1 {
    font-size: 26px;
    font-weight: 600;
}
h2 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
}

p.indent {
    text-indent: 1.5em;
}
p.text {
    margin-top: 0px;
    margin-bottom: 0px;
}

a:link {
    color: black;
    text-decoration: none;
    box-shadow: 0 1px #478589;
}
a:visited{
    color: black;
    text-decoration: none;
    box-shadow: 0 2px #478589;
}
a:hover, a:active {
    color: #478589;
    text-decoration: none;
    box-shadow: 0 1px #478589;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
}

code {
    font-family: "Fira Code", monospace;
    font-weight: 300;
    font-size: 15px;
    border: 1px solid #999999;
    padding: 3px;
}


.katex {
    font-size: 0.9em !important;
}

header {
    line-height: 40px;
    padding-top: 13px;
    padding-bottom: 5px;
    margin-bottom: 40px;
    border-top-width: 3px;
    border-top-color: black;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #478589;
    border-bottom-style: solid;
}
header a:link {
    text-decoration: none;
    box-shadow: none;
}
header a:visited {
    color: black;
    box-shadow: none;
}
header a:hover, a:active {
    color: #478589;
    box-shadow: none;
}
#sitename {
    display: inline;
    font-size: 34px;
    font-weight: 400;
}
nav {
    display: inline;
    float: right;
}
nav a {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    margin-left: 15px;
    font-weight: 600;
}

form#group-input textarea {
    font-family: "Fira Code", monospace;
    font-weight: 300;
    font-size: 15px;
    padding: 3px;
    vertical-align: middle;
}
form#group-input input[type="submit"] {
    font-family: "Crimson", serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
    background-color: white;
    padding-top: 5px;
    border: 1px solid #999999;
}

form#group-input input[type="submit"]:hover {
    background-color: #a5d6e0;
}

details#examples {
    margin-top: 5px;
    margin-bottom: 30px;
}
details#examples ul {
    margin-top: 10px;
}
