{% extends "base.html" %}

{% block content %}
<h1>About</h1>

<p class="text">
  The Magnus breakdown is an algorithm in combinatorial group theory developed by Wilhelm Magnus in 1930. In proving an important theorem about one-relator groups, the <a href="https://en.wikipedia.org/wiki/Freiheitssatz">Freiheitssatz</a>, he showed that one-relator groups can be inductively &ldquo;broken down&rdquo; into amalgamated products and HNN extensions with shorter relations. This inductive process is now called the Magnus breakdown. We briefly describe the algorithm below, but we refer any interested readers to Lyndon and Schupp&rsquo;s <i>Combinatorial Group Theory</i>, Chapter II, Section 6, which uses the Magnus breakdown to prove the Freiheitssatz.
</p>

<p class="text indent">
  To help fellow group theorists with specific one-relator groups they&rsquo;re interested in, we (Laura L&oacute;pez Cruz and Christopher Natoli) coded up the Magnus breakdown and made it publicly available as this web app. It is also available on <a href="https://github.com/lauralopezcruz/Magnus_Breakdown">GitHub</a>.
</p>

<h2>Algorithm</h2>
<p class="text">
  A finitely presented group of the form $G=\langle S \mid r \rangle$, where $S$ is a finite set of at least two generators and $r$ is a word in the generators, is called a one-relator group. For a generator $s\in S$, define $\sigma_s(r)$ to be the <i>exponent sum</i> of $s$ in $r$, e.g., $\sigma_a(a^2ba^{-3})=-1$. We say that a <i>syllable</i> of $r$ is a subword that is a power of a generator and not preceded or followed by that generator, e.g., $c^3$ is a syllable of $b^2a^{-3}c^3a^2$ but $c^2$ is not. The <i>length</i> of a (reduced) word is the number of generators or their inverses in that word, e.g., the length of $a^2b^{-1}ca^{-2}$ is 6.
</p>

<p class="text indent">
  Given a one-relator group $G_0$, we inductively construct a sequence of one-relator groups $G_0,G_1,G_2,\ldots$, where $G_{i+1}$ is obtained from $G_i$ by one of the following two cases. The process in Case 1 reduces the length of the single relation by adding new generators, and these successive reductions will eventually terminate the algorithm.
</p>

<br/>

<p class="text">
  <i>Case 1</i>:
  Let $G_i=\langle S\mid r\rangle$. Suppose $a\in S$ has exponent sum 0 in $r$, and let $S'=S-\{a\}$. Without loss of generality, assume $r$ does not begin with $a$ or $a^{-1}$; otherwise replace $r$ by the necessary cyclic shift (i.e., conjugate). We define $r'$ as follows: If the first syllable of $r$ is $s^n$, then the first syllable in $r'$ is $s_0^n$. Denote by $t^m$ the next syllable in $r$ that does not contain $a$, and add it to $r'$ as $t_{-\alpha}^m$ where $\alpha$ is the exponent sum of $a$ in the subword of $r$ preceding $t^m$. Continue this process until there are no more syllables left in $r$ not containing $a$. For example, if $r=bacb^2a^{-3}c^3a^2$, then $r'=b_0c_{-1}b_{-1}^2c_2^3$. Then $r'$ is shorter than $r$.
</p>

<p class="text indent">
  For $s\in S'$, let $\alpha_s$ be the smallest subscript of $s$ appearing in $r'$ and let $\beta_s$ be the largest subscript of $s$ in $r'$. Define a new group
  \[ G_{i+1}=\bigg\langle\bigcup_{s\in S'}\{s_{\alpha_i},s_{\alpha_i+1},\ldots,s_{\beta_i}\} \,\bigg|\, r' \bigg\rangle. \]
  Then $G_i$ is isomorphic to the following HNN extension of $G_{i+1}$:
  \[ \bigg\langle t,\bigcup_{s\in S'}\{s_{\alpha_i},s_{\alpha_i+1},\ldots,s_{\beta_i}\} \,\bigg|\, r',t^{-1}s_it=s_{i+1}\text{ for all }s\in S',\alpha_s\le i<\beta_s \bigg\rangle.\]
</p>

<br/>

<p class="text">
  <i>Case 2</i>:
  Let $G_i=\langle S\mid r\rangle$. Suppose no generators have exponent sum 0 in $r$. Take any two generators $a,b\in S$ and let $S'=S-\{a,b\}$. Set $\alpha=\sigma_a(r)$ and $\beta=\sigma_b(r)$. Let $x,y$ be new letters and define $r^*$ to be the word obtained from $r$ by replacing any occurrences of $a$ by $yx^{-\beta}$ and occurrences of $b$ by $x^\alpha$. Define a new group $G_{i+1}=\langle x,y,S'\mid r^*\rangle$. Then $\sigma_x(r^*)=0$. Furthermore, $G_{i+1}$ is the amalgamated product
  \[ G_{i+1} = G_i\underset{b=x^\alpha}{*}\langle x\rangle = \langle a,b,x,S'\mid r,b=x^\alpha\rangle, \]
  i.e., we add the $\alpha$th root of $b$. Note that although $r^*$ is longer than $r$, applying Case 1 to $G_{i+1}$ will yield a relation $r'$ that is shorter than $r$.
</p>




{% endblock %}
