{% extends "base.html" %}

{% block content %}
  <p>
    Input a one-relator group as you would in LaTeX.
  </p>

  <form id="group-input" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      \( G_0=\Big\langle \)
      {{ form.generators(rows=2, cols=20) }}
      \( \Big| \)
      {{ form.relation(rows=2, cols=40) }}
      \( \Big\rangle \)

      <br />
      {% for error in form.generators.errors %} <!-- fix later -->
        <span style="color: red;">{{ error }}</span>
      {% endfor %}
      {% for error in form.relation.errors %}
        <span style="color: red;">{{ error }}</span>
      {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
  </form>

  {% for string in group_strings %}
    \[ {{ string }} \]
  {% endfor %}
{% endblock %}
